/* Timeline component styles */
.vertical-timeline {
  width: 100%;
  position: relative;
  padding: 2em 0;
}

.vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  background: var(--color-gray-200);
}

:root[class='dark'] .vertical-timeline::before {
  background: var(--color-gray-700);
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline::before {
    left: 50%;
    margin-left: -1px;
  }
}

.vertical-timeline-element {
  position: relative;
  margin: 2em 0;
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-primary-500);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline-element-icon {
    left: 50%;
    margin-left: -20px;
  }
}
