@import "tailwindcss";

@theme {
  --color-terminal-black: #000000;
  --color-terminal-white: #ffffff;
  --color-terminal-gray: #808080;
  --font-mono: "Courier New", Courier, monospace;
}

@layer base {
  body {
    @apply bg-black text-gray-300 font-mono overflow-x-hidden;
  }

  ::selection {
    @apply bg-white text-black;
  }
}

@layer utilities {
  .animate-in {
    animation-name: enter;
    animation-duration: 150ms;
    --tw-enter-opacity: initial;
    --tw-enter-scale: initial;
    --tw-enter-rotate: initial;
    --tw-enter-translate-x: initial;
    --tw-enter-translate-y: initial;
  }

  .fade-in {
    --tw-enter-opacity: 0;
  }

  .zoom-in-95 {
    --tw-enter-scale: 0.95;
  }

  .slide-in-from-bottom-10 {
    --tw-enter-translate-y: 2.5rem;
  }
}

/* Custom Animations */
@keyframes width {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}